#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #FFF;
    text-align: center;
    font-style: italic;
	padding: 20px;
    
    background-color:#3c3d4a;
    color:#FFF;
    font-family: arial;

}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;

}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
       
 max-width: 1000px;
	clear: left;
	padding: 20px;
	margin: 20px;
    border:20px solid #eb534d;
    text-align: justify;

	opacity: 0.83;
}

h2
{
    font-family: arial;
	color: #3c3d4a;
	font-size: 160%;
	margin: 0 0 .5em;
    text-align: center;
}

p{text-align: justify;}

#news
{	
    max-width: 500px;
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
border:5px solid #eb534d;
    text-align: justify;
	opacity: 0.83;
}
a{text-decoration: none;}
#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
    background-color: #3c3d4a;
    color: #FFF;
}
